@import "/src/app/styles/variables.scss";

.container {
  margin-top: 2rem;
  * {
    color: #fff;
    .title {
      font-family: $heading-font;
      font-size: 1.7rem;
      font-weight: 800;
      max-width: 400px;
      @media screen and (max-width: $smallDevices) {
        font-size: 1.3rem;
      }
    }
  }
  .content {
    padding: 2rem;
    padding-bottom: 3rem;
    background: #2f2f2f;
    height: 100%;
    border-radius: 1rem;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    @media screen and (max-width: $smallDevices) {
      height: unset;
      margin-bottom: 1rem;
      padding-bottom: 2.5rem;
    }
    .btnAction {
      display: inline-block;
      margin-top: 1rem;
    }
  }
}
