// Colors
$primary: #1145d7;
$color-cyan: #00ffe1;

$secondary: #ffe124;
$defaultTextColor: #01081f;

// Fonts

$default-font: Exo, sans-serif;
$heading-font: Orbitron, sans-serif;

$smallDevices: 1024px;
