@import "/src/app/styles/variables.scss";

.buyKoo {
  width: 100%;
  text-transform: uppercase;
}
.sectionWrapper {
  min-height: 100px;
  position: relative;
  padding-top: 7rem;
  font-family: $heading-font;
  color: #fff;
  /* &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 7rem;
    width: 100%;
    background: #0b2944;
  } */
  .acceptTerms {
    label {
      display: flex;
    }
    * {
      color: $color-cyan !important;
    }
  }
  .content {
    padding: 2.5rem 0;
    position: relative;
    z-index: 0;
    &::before {
      content: "";
      top: 0;
      width: 300%;
      height: 100%;
      position: absolute;
      left: -150%;
      z-index: -1;
      background-image: linear-gradient(to bottom, #17344d, #162f46);
    }

    .header {
      font-size: 3rem;
      font-weight: 700;
      line-height: 1;
    }
    p {
      color: $color-cyan;
      font-size: 1.3rem;
      letter-spacing: 4px;
    }
    .buyNow {
      // margin: 3rem 0;
    }
  }
  .progressContainer {
    min-height: 300px;
    position: relative;
    height: 100%;
    color: $color-cyan;
    z-index: 0;
    &:before {
      content: "";
      position: absolute;
      right: 0;
      top: -6%;
      height: 114%;
      width: 103%;
      z-index: -1;
      transform: skewX(-25deg);
      border-radius: 30px 20px;
      background: #000;
      box-shadow: 10px 13px 16px -1px rgba(0, 0, 0, 0.75);
      @media (min-width: 1600px) {
        width: 90%;
      }
    }
    .dataWrapper {
      margin-left: 21%;
      padding-top: 9rem;
      margin-right: -10%;
      @media (min-width: 1600px) {
        margin-left: 25%;
        padding-top: 9rem;
        margin-right: -5%;
      }
      .data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        font-weight: 600;
        letter-spacing: 2px;
        margin-left: -2rem;
        width: 98%;
        .value {
          * {
            font-size: 1.9rem;
            display: inline-block;
            margin-right: 1.3rem;
            color: $color-cyan;
            font-family: $heading-font;
            margin-right: 0;
          }
        }
      }
    }
  }
  .progressBarContainer {
    text-align: center;
    margin-left: -52%;
    margin-top: 4rem;
    @media (min-width: 1600px) {
      margin-top: 4rem;
      margin-left: -29%;
    }

    .label {
      display: block;
      margin-top: 3rem;
      color: #fff;
      font-weight: 600;
      letter-spacing: 2px;
    }
    .progressBar {
      display: block;
      width: 61%;
      margin: 0 auto;
      margin-top: 0px;
      margin-top: 0px;
      margin-top: 1rem;
      padding: 10px 15px;
      font-size: 14px;
      line-height: 11px;
      border-radius: 30px;
      background: rgb(0, 0, 0);
      box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.25),
        0 0 4px 2px rgba(57, 195, 176, 0.6);

      @media (min-width: 1600px) {
        width: 70%;
      }

      .caps {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          right: 0;
          width: 2px;
          height: 45px;
          background: #00ffe1;
          display: block;
          top: -1rem;
        }
        &::after {
          content: attr(data-label);
          position: absolute;
          right: 1px;
          bottom: -58px;
          width: 3rem;
          line-height: 1.1;
          font-weight: 600;
        }
      }

      .bar {
        height: 15px;
        position: relative;
        overflow: hidden;
        display: block;
        vertical-align: middle;
        border-radius: 10px;
        // height: 100%;
        background-size: 100%;
        background: #17d4bf linear-gradient(to bottom, #4cccbd, #000);
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: "";
          background-image: linear-gradient(
            45deg,
            #ffffff 25%,
            rgba(0, 0, 0, 0) 25%,
            rgba(0, 0, 0, 0) 50%,
            #ffffff 50%,
            #ffffff 75%,
            rgba(0, 0, 0, 0) 75%,
            rgba(0, 0, 0, 0)
          );
          background-size: 30px 30px;
          opacity: 0.3;
          animation: progress-anim-1-after 0.5s infinite linear;
        }
        &:after {
          position: absolute;
          right: 0;
          bottom: calc(100% - 55px);
          z-index: 1;
          display: inline-block;
          content: attr(data-label);
          padding: 5px;
          border-radius: 3px;
          font-size: 0.8em;
          background-color: rgba(0, 0, 0, 1);
          color: #ffffff;
        }
      }
      > span {
        display: block;
        // animation: progress-anim-1 10s infinite linear;
      }
    }
  }
}

/* @keyframes progress-anim-1 {
  0% {
    width: 20%;
  }
  50% {
    width: 80%;
  }
  100% {
    width: 20%;
  }
}
 */
@keyframes progress-anim-1-after {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 30px 100%;
  }
}
