@import "/src/app/styles/variables.scss";

.container {
  > div {
    @media screen and (max-width: $smallDevices) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .heading {
    font-size: 1.9rem;
    font-family: $heading-font;
    font-weight: 800;
    color: $secondary;
  }
  p {
    margin-bottom: 0;
  }
  * {
    color: #fff;
  }
  .joinWaitlist {
    margin-top: 1rem;
  }
  .btnAction {
    margin-top: 1.5rem;
    cursor: pointer;
    display: inline-block;
  }
  .tokenDistribution {
    margin: 5rem 0;

    @media screen and (max-width: $smallDevices) {
      pointer-events: unset;
      margin: 3rem 0;
    }
  }
  .preSale {
    margin-top: 5rem;
    @media screen and (max-width: $smallDevices) {
      padding: 1rem;
    }
    .heading {
      span {
        color: #fff;
      }
    }
  }
  .startingSoon {
    color: $secondary;
    font-family: $heading-font;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 1.2rem;
    display: block;
    margin-top: 1rem;
  }
  .chartWrapper {
    transform: translateX(10%);
    pointer-events: none;
    @media screen and (max-width: $smallDevices) {
      transform: translateX(0);
    }
    .mobileLegend {
      display: none;
      padding-left: 1rem;
      margin-top: 3rem;
      li {
        color: $secondary;
      }
      @media screen and (max-width: $smallDevices) {
        display: block;
      }
    }
  }
  .listItem {
    // margin: 2rem 0;
    @media screen and (max-width: $smallDevices) {
      margin-top: 2rem;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    span {
      padding: 1rem 0.5rem;
      display: block;
      font-size: 0.9rem;
      @media screen and (max-width: $smallDevices) {
        padding: 0.5rem;
      }
    }
    .label {
      // display: block;
      &:nth-of-type(2n) {
        background: rgba(255, 255, 255, 0.1);
      }
      .value {
        opacity: 0.7;
        // font-weight: 400;
        font-weight: bold;
        margin-left: 1rem;
      }
    }
  }
}
