@import "/src/app/styles/variables.scss";

.sectionWrapper {
  color: #fff;
  padding-bottom: 7rem;
  .alignVideoCenter {
    display: flex;
    overflow: hidden;
    padding: 0;
  }
  .videoClip {
    position: absolute;
    pointer-events: none;
  }
  .singlePhase {
    margin-top: 6rem;
    &.phase1 {
      margin-top: 2rem;
    }
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(22, 1, 24, 1) 53%,
      rgba(137, 8, 152, 1) 100%
    );
    &.phase2 {
      background: linear-gradient(90deg, #282259 0%, #0f0d21 53%, #000 100%);
    }
    &.phase3 {
      background: linear-gradient(90deg, #000 0%, #011717 53%, #08979a 100%);
    }
    &.phase4 {
      background: linear-gradient(90deg, #7d0f16 0%, #1b0305 53%, #000 100%);
    }
    &.reverseRow {
      flex-direction: row-reverse;
      .videoWrapper {
        clip-path: polygon(0px 0%, 100% 0%, 100% 100%, 15% 100%);
      }
      .content {
        .header {
          .heading {
            text-align: left;
          }
          .phaseIcon {
            left: 0;
            right: auto;
          }
        }
      }
    }
    .videoWrapper {
      position: relative;
      z-index: 0;
      margin: auto 0;
      height: 100%;
      width: 100%;
      clip-path: polygon(0 0%, 100% 0%, 85% 100%, 0% 100%);
    }
    svg {
      position: absolute;
    }
    video {
      width: unset;
      // clip-path: url(#mask);
      height: 100%;
    }
    .content {
      padding: 1rem;
      .header {
        position: relative;
        padding-bottom: 3rem;
        .heading {
          font-size: 2.5rem;
          text-transform: uppercase;
          font-weight: 800;
          letter-spacing: 11px;
          font-family: $heading-font;
          text-align: right;
          display: block;
        }
        .phaseIcon {
          max-width: unset;
          height: 2rem;
          position: absolute;
          right: 0;
        }
      }
    }
  }
  .listItem {
    margin: 2rem 0;
    table {
      border-collapse: collapse;
    }
    span {
      padding: 3px 5px;
      display: block;
      font-size: 0.9rem;
    }
    .label {
      // display: block;
      font-weight: bold;
      &:nth-of-type(2n) {
        background: rgba(255, 255, 255, 0.1);
      }
      .value {
        opacity: 0.7;
        font-weight: 400;
        margin-left: 1rem;
      }
    }
  }
}
