@import "/src/app/styles/variables.scss";

.header {
  // background: #0f1014;
  z-index: 2;
  position: relative;
  position: absolute;
  left: 0;
  right: 0;
  // z-index: 0;
  // overflow-x: hidden;
  @media screen and (max-width: $smallDevices) {
    background-color: $defaultTextColor;
    overflow-x: clip;
  }
  .shadowGlow {
    position: relative;
    z-index: 0;
    &::before {
      content: "";
      width: 900px;
      height: 900px;
      background: radial-gradient(
        ellipse 50% 50%,
        rgba($secondary, 0.3),
        transparent
      );
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      transform: translate(-32%, -24%);
      @media screen and (max-width: $smallDevices) {
        width: 600px;
        height: 600px;
        background: radial-gradient(
          ellipse 50% 50%,
          rgba($secondary, 0.2),
          transparent
        );
      }
    }
  }
  .headerItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: relative;
    @media screen and (max-width: $smallDevices) {
      // justify-content: center;
      padding: 1rem 0;
    }
    // &::after {
    //   content: "";
    //   position: absolute;
    //   left: 0;
    //   width: 100%;
    //   bottom: -2px;
    //   height: 2px;
    //   background: #16548a;
    // }
  }
  .logo {
    height: 3rem;
    @media screen and (max-width: $smallDevices) {
      height: 2rem;
    }
  }
  .claimToken {
    background: #fff !important;
    // @media screen and (max-width: $smallDevices) {
    //   display: none !important;
    // }
  }
  .btnAction {
    // display: none !important;
    &.walletDetails {
      &:hover {
        transform: scale(1);
        .copy {
          transform: scale(1.2);
        }
      }
      .copy {
        width: 1.5rem;
        margin-left: 1rem;
        transition: transform 0.1s ease-in;
      }
    }
  }
  .connectWallet {
    @media screen and (max-width: $smallDevices) {
      font-size: 1rem !important;
      display: none !important;
    }
  }
}
