@import "/src/app/styles/variables.scss";

.header {
  background: #000000;
  z-index: 2;
  position: relative;
  .headerItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: relative;
    @media screen and (max-width: $smallDevices) {
      justify-content: center;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      bottom: -2px;
      height: 2px;
      background: #16548a;
    }
  }
  .logo {
    height: 6rem;
  }
  .btnAction {
    @media screen and (max-width: $smallDevices) {
      display: none;
    }
  }
}
