<div class="header">
  <img src="assets/logo.png" alt="Logo" class="logo">
  <div class="btn-connect-wallet">Connect Wallet</div>
</div>


<div class="token-info-container">
  <div class="token-info-back">
    <div class="token-info-body font-orb">
      <p class="info-title">Koopa Token [ KOO ]</p>
      <p class="info">Indivisual cap 10 ETH = 25000 KOO</p>
      <div class="koop-btn deposit-btn">Deposit now</div>
      <p class="info">1 KOO = 0,0004 ETH</p>
      <p class="info">1 ETH = 2500 KOO</p>
    </div>
  </div>
  <div class="loader font-orb">
    <div class="info">

      <div class="amount-info">
        <div>TOTAL AMOUNT</div>
        <div class="amount-figure">2500 KOO = 1 ETH</div>
      </div>
      <div class="amount-info">
        <div>CLOSES IN</div>
        <div class="days-left">0d 3h 58m 1s</div>
      </div>
      <div class="sold-out">20659349/25000000</div>
      <div class="progress-bar-container">
        <mat-progress-bar mode="determinate" value="70"
        class="amount-progress-bar"></mat-progress-bar>
        <div class="marker"></div>
      </div>
    </div>
    </div>
</div>
<div class="font-exo please">Please connect wallet first to join token sale</div>

<div class="tiers-header">
  <img src="assets/tiers.png" alt="Koopa Tiers" class="tiers-img">
  <div class="tiers-desc font-exo">
    Koopa uses a tier based system to determine the gauranteed allocation for each participant in a pool.
    It's a fair and simple process: the amount of KOO tokens a holder has staked determines the pool weight of 
    allocation for a given participant.
    <div class="koop-btn btn-connect">BECOME A TROOPA</div>
  </div>
</div>

<div class="phase-container phase-1">
  <div class="phase-video">
    <video autoplay loop src="assets/phase1-vid.mp4"></video>
  </div>
  <div class="phase-desc mr">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
    nisi ut aliquip ex ea commodo consequa.
  </div>
</div>

<div class="phase-container phase-2">

  <div class="phase-desc ml">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
    nisi ut aliquip ex ea commodo consequa.
  </div>
  <div class="phase-video">
    <video autoplay loop src="assets/phase2-vid.mp4"></video>
  </div>
</div>

<div class="phase-container phase-3">

  <div class="phase-video">
    <video autoplay loop src="assets/phase3-vid.mp4"></video>
  </div>
  <div class="phase-desc mr">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
    nisi ut aliquip ex ea commodo consequa.
  </div>
</div>

<div class="phase-container phase-4">

  <div class="phase-desc ml">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
    nisi ut aliquip ex ea commodo consequa.
  </div>
  <div class="phase-video">
    <video autoplay loop src="assets/phase4-vid.mp4"></video>
  </div>
</div>

<div class="footer">
  <img src="assets/footer-logo.png" alt="footer-logo" class="footer-logo">
  <div class="footer-links font-orb">
    <div class="footer-link">twitter</div>
    <div class="footer-link">Docs</div>
    <div class="footer-link">Team</div>
    <div class="footer-link">Apply</div>
  </div>
</div>