// @font-face {
//     font-family: lato;
//     src: url(assets/fonts/) format("truetype");
//   }
$btn-font-color:#1145d7;

td{
  padding: 2.5px;
  margin: 2.5px;  
}

.mobile-header {
    background-color: black;
    img{
        height: 100%;
        width: 100%;
    }
}
.unsupported-popup {
    width: 80%;
    height: 300px;
    background-color: black;
    border-radius: 10px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .popup-text{
        margin-left: 15%;
    }
    .sale-open{
        text-align: center;
        margin-top: 40%;
        width: 200px;
    }
    .use-desktop{
        margin-top: 30%;
        font-size: 12px;
        width: 100%;
    }
}
.font-exo {
    font-family: 'Exo', sans-serif;
    color: white;
}
.font-orb {
    font-family: 'Orbitron', sans-serif;
    color: white;
}

.koop-btn{

    background-color: white;
    height: 50px;
    width: 150px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'Orbitron', sans-serif;
    color: $btn-font-color;
    user-select: none;
    box-shadow: -1px 1px 30px -4px rgba(255,255,255,0.78);
    -webkit-box-shadow: -1px 1px 30px -4px rgba(255,255,255,0.78);
    -moz-box-shadow: -1px 1px 30px -4px rgba(255,255,255,0.78);
}

.header{
    height: 130px;
    background-color: black;
    display: flex;
    flex-direction: row;
    .logo{
        height: 100%;
        width: 500px;
        user-select: none;
        cursor: pointer;
        margin-left: 80px;
    }
    .btn-connect-wallet {
        background-color: white;
        height: 70px;
        width: 270px;
        margin-top: 30px;
        text-align: center;
        line-height: 70px;
        cursor: pointer;
        border-radius: 50px;
        font-family: "Orbitron", sans-serif;
        color: #1145d7;
        -webkit-user-select: none;
        user-select: none;
        margin-left: auto;
        margin-right: 3%;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 22px;
        box-shadow: -1px 1px 30px -4px rgba(255,255,255,0.78);
        -webkit-box-shadow: -1px 1px 30px -4px rgba(255,255,255,0.78);
        -moz-box-shadow: -1px 1px 30px -4px rgba(255,255,255,0.78);
    }
}
.token-info-container{
    height: 500px;
    // border: 1px solid gold;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    .token-info-back{
        background-color: #173148;
        height: 80%;
        width: 60%;
        margin-top: 40px;
        .token-info-body{
            margin-left: 12%;
            margin-top: 5%;
            .info-title {
                font-size: 36px;
                width: 600px;
                font-weight: 500;
            }
            .info{
                letter-spacing: 3px;
                font-size: 22px;
                font-weight: lighter;
                opacity: .7;
            }
            .deposit-btn{

                font-weight: 600;
                letter-spacing: 1px;
                font-size: 24px;
                margin-top: 20px;
                height: 60px;
                width: 200px;
                line-height: 64px;
            
            }
        }
    }
    .loader{
        background-color: black;
        height: 100%;
        width: 35%;
        max-width: 630px;
        margin-left: -8%;
        box-shadow: 10px 13px 16px -1px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 13px 16px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 13px 16px -1px rgba(0,0,0,0.75);
        transform: skewX(-23deg);
        border-radius: 27px 20px;
        .info{
            // transform: skewX(23deg);
            margin-top: 100px;
            .amount-info{
                transform: skewX(23deg);
                margin-top: 30px;
                display: flex;
                flex-direction: row;
                font-size: 20px;
                margin-left: 40px;
                width: 100%;
                .amount-figure{
                    margin-left: auto;
                    margin-right: 60px;
                }
                .days-left{
                    margin-left: auto;
                    margin-right: 100px;
                    font-size: 28px;
                }
            }
            .sold-out{
                transform: skewX(23deg);
                margin-top: 80px;
                font-size: 22px;
                font-weight: bold;
                letter-spacing: 3px;
                /* margin-left: 50%; */
                /* transform: translate(-50%); */
                // margin-left: -40px;
                text-align: center;
            }
            .progress-bar-container{
                margin-top: 30px;
                width: 80%;
                margin-left: 50%;
                transform: translate(-50%);
                .amount-progress-bar{
                    height: 7px;
                    border-radius: 5px;
                }
            }
        }
    }
}
.please{
    font-size: 26px;
    font-weight: bold;
    margin-left: 7%;
    margin-top: -35px;
    letter-spacing: 1px;
}
.steps{
    font-weight: bold;
    margin-left: 7%;
    font-size: 24px;
    letter-spacing: 1px;
}

.tiers-header{
    margin-top: 50px;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    .tiers-desc{
        font-size: 22px;
        margin-top: 2%;
        margin-right: 1%;
        font-weight: 700;
        width: 800px;
        letter-spacing: 1.5008px;
        line-height: 30px;
    }
    .btn-connect {
        width: 370px;
        height: 70px;
        margin-left: 50%;
        transform: translate(-50%,0);
        margin-top: 30px;
        margin-bottom: 50px;
        line-height: 70px;
    }
    .tiers-img{
        height: 300px;
    }
}

// .phase-container-1 {
//     width: 95%;
//     height: 650px;
//     margin-top: 150px;
//     // border: 1px solid gold;
//     transform: translate(-50%,0);
//     margin-left: 50%;
//     display: flex;
//     flex-direction: row;
//     .phase-desc{
//         font-family: "Exo", sans-serif;
//         color: white;
//         font-size: 20px;
//         width: 45%;
//         margin-top: 2%;
//         line-height: 30px;
//         font-weight: 700;
//         opacity: 0.85;
//         strong{
//             font-weight: bolder;
//         }
//         .desc-detail{
//             margin-top: 20px;
//             p {
//                 font-size: 18px;
//                 margin-bottom: 0;
//             }
//         }
//     }
//     .phase-video{
//         height: 100%;
//         width: 70%;
//         video {
//             height: 100%;
//             width: 100%;
//             object-fit: cover;
//         }
//     }
// }

// .phase-1{

//     // background-image: url("../assets/phase1-bg.png");
//     // color: #fff;
//     background-image: url("../../assets/phase1-bg.png");  
//     background-size: 100%;
// }

// .phase-2{

//     // background-image: url("../assets/phase1-bg.png");
//     // color: #fff;
//     background-image: url("../../assets/phase2-bg.png");  
//     background-size: 100%;
// }

// .phase-3{

//     // background-image: url("../assets/phase1-bg.png");
//     // color: #fff;
//     background-image: url("../../assets/phase3-bg.png");  
//     background-size: 100%;
// }

// .phase-4{

//     // background-image: url("../assets/phase1-bg.png");
//     // color: #fff;
//     background-image: url("../../assets/phase4-bg.png");  
//     background-size: 100%;
//     margin-bottom: 200px;
// }

.phase-container{
    // height: 200px;
    margin-top: 101px;
    height: 650px;
    width: 100%;
    position: relative;
    // background-color: red;
    .img{
        height: 100%;
        width: 100%;
    }
    .phase-video{
        height: 100%;
        width: 55%;
        video {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .phase-left-video{
        position: absolute;
        left: 0;
        top: 0;
    }
    .phase-right-video{
        position: absolute;
        right: 0;
        top: 0; 
    }
    .phase-content{
        font-size: 16px;
        margin-top: 20px;
        width: 43%;
        .desc-detail{
            margin-top: 20px;
            p {
                font-size: 14px;
                margin-bottom: 0;
            }
        }
    }
    .phase-content-left{
        position: absolute;
        top: 0;
        left: 0;
    }
    .phase-content-right{
        position: absolute;
        top: 0;
        right: 0;
    }
}
.ml {
    margin-right: 6%;
    margin-left: 3%;
    
}
.mr {
    margin-left: 6%;
    margin-right: 3%;
}

.footer{
    width: 100%;
    height: 150px;
    background-color: black;
    display: flex;
    flex-direction: row;
    .footer-logo{
        height: 100%;
        // width: 100%;
        margin-left: 20px;
    }
    .footer-links{
        width: 100%;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 26px;
        .footer-link{
            user-select: none;
            cursor: pointer;
        }
    }
}

