<div class="header" *ngIf="!isMobileDevice">
    <img src="assets/logo.png" alt="Logo" class="logo">
    <div class="btn-connect-wallet">Connect Wallet</div>
</div>

<div class="mobile-header" *ngIf="isMobileDevice">
    <img src="assets/logo.png" alt="Logo">
    <div class="unsupported-popup">
        <div class="popup-text font-exo">
            <div class="sale-open">
                Kooopa Toke ( KOO ) is now open
            </div>
            <div class="use-desktop">
                Please use your <strong>Desktop</strong> to join sale.
                <div>
                    Mobile / Tablet device not supported.
                </div>
            </div>
        </div>
    </div>

</div>
<div *ngIf="!isMobileDevice">
    <div class="token-info-container">
        <div class="token-info-back">
            <div class="token-info-body font-orb">
                <p class="info-title">Kooopa Token ( $KOO ) Public Sale Phase 1</p>
                <p class="info">Individual cap 0.5 ETH = 5,000,000 KOO</p>
                <div class="koop-btn deposit-btn mb-2">Start now</div>
                <p class="info">1 KOO = 0.0000001 ETH</p>
                <p class="info">1 ETH = 10,000,000 $KOO</p>
            </div>
        </div>
        <div class="loader font-orb">
            <div class="info">

                <div class="amount-info">
                    <div>TOTAL AMOUNT</div>
                    <div class="amount-figure">250,000,000 $KOO</div>
                </div>
                <div class="amount-info">
                    <div>CLOSES IN</div>
                    <div class="days-left">Starting soon</div>
                </div>
                <div class="sold-out">0/250,000,000</div>
                <div class="progress-bar-container">
                    <mat-progress-bar mode="determinate" value="100" class="amount-progress-bar"></mat-progress-bar>
                    <div class="marker"></div>
                    <div class="marker"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="font-exo please">Steps to participate in token sale:</div>
    <div class="font-exo steps">1. Connect wallet</div>
    <div class="font-exo steps">2. Click Start now</div>
    <div class="font-exo steps">3. Complete the form</div>
    <div class="font-exo steps">4. Follow steps to process deposit</div>
    <div class="tiers-header">
        <img src="assets/tiers.png" alt="Koopa Tiers" class="tiers-img">
        <div class="tiers-desc font-exo">
            From the beginning we set out to make the Kooopa public sale as fair as possible,
            giving participants at each phase an equal shot at a discounted fair price.
            Depending on when the FOMO kicks in for you, we’ve created four sale phases,
            each with a different offering to suit you. As the phases go on the
            discounted price will increase, all before settling at our DEX listing price.
            <div class="koop-btn btn-connect"><a href='https://kooopa.medium.com/kooopa-super-trooper-recruitment-902c7825a3cb'>BECOME A TROOPA</a></div>
        </div>
    </div>
    <div class="phase-container">
        <img src="../../assets/phase1-bg.png" alt="" class="img">
        <div class="phase-video phase-left-video">
            <video autoplay loop src="assets/phase1-vid.mp4"></video>
        </div>
        <div class="phase-content font-exo phase-content-right">
            <div class="phase-desc">
                <strong>
                    OK boomer — you’ve had a head start this far,
                    why stop now? Phase 1 is for those looking for a once
                    in a generation-type token sale price. Sale starts on Monday,
                July 19 and will sell 250 million (2.5%) KOO at a price of 0.0002 USD per token.
                The only accepted currency to purchase tokens in this phase is the ETH.
                This phase lasts for 7 days or until all tokens have been sold,
                whichever comes first. Any unsold tokens will be added to the next phase.</strong>
                <div class="desc-detail">
                <table style="margin:1%;">
                    <tr>
                        <td>Phase 1 Token Sale Allocation</td> 
                        <td>250,000,000 KOO</td>
                    </tr>
                    <tr>
                        <td>Phase 1 Start Date</td> 
                        <td>July 19 2021 12pm UTC</td>
                    </tr>
                    <tr>
                        <td>KOO Sale Price</td> 
                        <td>0.0002 USD</td>
                    </tr>
                    <tr>
                        <td>Maximum Purchase per User</td> 
                        <td>5,000,000 KOO</td>
                    </tr>
                    <tr>
                        <td>Sale Duration</td> 
                        <td>7 days or until all tokens have been sold</td>
                    </tr>
                    <tr>
                        <td>Purchase Currency</td> 
                        <td>ETH</td>
                    </tr>
                    <tr>
                        <td>Vesting Period</td> 
                        <td>None</td>
                    </tr>
                    <tr>
                        <td>Token Type</td> 
                        <td>ERC20 </td>
                    </tr>
                    <tr>
                        <td>Token Distribution</td> 
                        <td>After the end of Phase 3 token sale</td>
                    </tr>
                </table>
                </div>
            </div>
        </div>

    </div>

    <div class="phase-container">
        <img src="../../assets/phase2-bg.png" alt="" class="img">
        <div class="phase-video phase-right-video">
            <video autoplay loop src="assets/phase2-vid.mp4"></video>
        </div>
        <div class="phase-content font-exo phase-content-left">
            <div class="phase-desc ml">
                <strong>Here’s to the MTV Generation, never last to a party but usually
                ‘fashionably’ late. Don’t let the Boomers get one over on you again,
                this is your chance. Sale starts on Monday, July 26 and will sell
                750 million (7.5%) KOO at a price of 0.00025 USD per token.
                In this phase we will accept any ERC-20 token and Fiat payments
                supported by our onramp provider. This phase lasts for 7 days or
                until all tokens have been sold, whichever comes first.
                Any unsold tokens will be added to the next phase.</strong>
    
                <div class="desc-detail">
                    <table>
                    <tr>
                        <td>Phase 2 Token Sale Allocation</td> 
                        <td>750,000,000 KOO</td>
                    </tr>
                    <tr>
                        <td>Phase 2 Start Date</td> 
                        <td>July 26 2021 12pm UTC</td>
                    </tr>
                    <tr>
                        <td>KOO Sale Price</td> 
                        <td>0.00025 USD</td>
                    </tr>
                    <tr>
                        <td>Maximum Purchase per User</td> 
                        <td>5,000,000 KOO</td>
                    </tr>
                    <tr>
                        <td>Sale Duration</td> 
                        <td>7 days or until all tokens have been sold</td>
                    </tr>
                    <tr>
                        <td>Purchase Currency</td> 
                        <td>Any ERC-20 token + Fiat</td>
                    </tr>
                    <tr>
                        <td>Vesting Period</td> 
                        <td>None</td>
                    </tr>
                    <tr>
                        <td>Token Type</td> 
                        <td>ERC20 </td>
                    </tr>
                    <tr>
                        <td>Token Distribution</td> 
                        <td>After the end of Phase 3 token sale</td>
                    </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="phase-container">
        <img src="../../assets/phase3-bg.png" alt="" class="img">
        <div class="phase-video phase-left-video">
            <video autoplay loop src="assets/phase3-vid.mp4"></video>
        </div>
        <div class="phase-content font-exo phase-content-right">
            <div class="phase-desc mr">
                <strong>Housing crisis, crippling student debt,
                Uber and Netflix taking all your money —
                It's a sick joke, I know right? But forget
                all that, Millennials. This is what you’ve
                been waiting for, think AMC and Doge had a baby,
                and that baby is on steroids: That’s Kooopa.
                Don’t miss out, you know you will FOMO hard otherwise.
                Sale starts on Monday, Aug 2 and will sell 750 million (7.5%)
                KOO at a price of 0.0003 USD per token. In this phase we will
                accept any ERC-20 token and Fiat payments supported by our onramp provider.
                This phase lasts for 7 days or until all tokens have been sold,
                whichever comes first.
                Any unsold tokens will be added to the next phase.</strong>
    
                <div class="desc-detail">
                    <table>
                        <tr>
                        <td>Phase 3 Token Sale Allocation</td> 
                        <td>750,000,000 KOO</td>
                    </tr>

                    <tr>
                        <td>Phase 3 Start Date</td> 
                        <td>Aug 2 2021 12pm UTC</td>
                    </tr>

                    <tr>
                        <td>KOO Sale Price</td> 
                        <td>0.0003 USD</td>
                    </tr>

                    <tr>
                        <td>Maximum Purchase per User</td> 
                        <td>5,000,000 KOO</td>
                    </tr>

                    <tr>
                        <td>Sale Duration</td> 
                        <td>7 days or until all tokens have been sold</td>
                    </tr>

                    <tr>
                        <td>Purchase Currency</td> 
                        <td>Any ERC-20 token + Fiat</td>
                    </tr>

                    <tr>
                        <td>Vesting Period</td> 
                        <td>None</td>
                    </tr>

                    <tr>
                        <td>Token Type</td> 
                        <td>ERC20 </td>
                    </tr>

                    <tr>
                        <td>Token Distribution</td> 
                        <td>After the end of this phase</td>
                    </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="phase-container mb-5">
        <img src="../../assets/phase4-bg.png" alt="" class="img">
        <div class="phase-video phase-right-video">
            <video autoplay loop src="assets/phase4-vid.mp4"></video>
        </div>
        <div class="phase-content font-exo phase-content-left">
            <div class="phase-desc ml">
                <strong>You don’t need money, we know. You made your first billion at age 21
                providing liquidity to a Shibu-BabyDoge pool returning 9887% APR on
                some underground-secret 4chan DEX nobody has even heard of.
                You are the DeFi generation. Gen-Z, you know what to do.
                Sale starts on Monday, Aug 9 and will allocate 250 million
                (2.5%) KOO to SushiSwap. This will create an ETH/KOO Liquidity Pool,
                at a price of 0.0005USD. Holders of KOO will be able to pool their KOO and earn 0.25%
                fee on all trades proportional to their share of the pool.</strong>
                <div class="desc-detail">
                    <table>
                        
                    <tr>
                        <td>Phase 4 Token Allocation for LP</td> 
                        <td>250,000,000 KOO</td>
                    </tr>

                    <tr>
                        <td>Phase 4 Date</td> 
                        <td>Aug 9 2021 12pm UTC</td>
                    </tr>

                    <tr>
                        <td>DEX</td> 
                        <td>SushiSwap</td>
                    </tr>

                    <tr>
                        <td>KOO LP Price</td> 
                        <td>0.0005USD</td>
                    </tr>

                    <tr>
                        <td>Fees Earned</td> 
                        <td>0.25%</td>
                    </tr>


                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="footer">
        <img src="assets/footer-logo.png" alt="footer-logo" class="footer-logo">
        <div class="footer-links font-orb">
            <div class="footer-link"><a href='https://www.kooopa.io/'>Website</a></div>
            <div class="footer-link"><a href='https://twitter.com/kooopatoken'>Twitter</a></div>
            <div class="footer-link"><a href='https://t.me/officialkooopatoken'>Telegram</a></div>
            <div class="footer-link"><a href='https://uploads-ssl.webflow.com/60afc9d534ce48f2270d5f8e/60c7936d4c740c6befc10a37_KOOOPA%20Litepaper_compressed.pdf'>Litepaper</a></div>
        </div>
    </div>
</div>
