.btn-app-default {
  background: #fff;
  font-family: $heading-font;
  color: $primary;
  font-weight: 700;
  font-size: 22px;
  border: 0;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s ease-in;
  box-shadow: -1px 1px 30px -4px rgba(255, 255, 255, 0.78);
  &:hover {
    transform: scale(1.05);
  }
  &:disabled {
    background: #c4c4c4 !important;
    box-shadow: none;
    pointer-events: none;
  }
}
