html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  font-family: $default-font;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  overflow-x: hidden;
}
p {
  margin-top: 0;
  margin-bottom: 0.6rem;
}
.default-text {
  font-size: 1.6rem;
}
.d-block {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center;
}

#main-content,
.app-footer {
  @media screen and (max-width: $smallDevices) {
    display: none !important;
  }
}

.typeform-popup {
  .ant-modal {
    width: 100% !important;
  }
  .ant-modal-body {
    padding: 0;
    .typeform {
      height: 80vh !important;
    }
  }
  .ant-modal-close-x {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
  }
  .ant-modal-content,
  iframe {
    border-radius: 0 !important;
  }
}
.deposit-popup {
  .ant-modal-content {
    border-radius: 30px;
    background: #000;
    box-shadow: 0 13px 16px -1px rgba(22, 84, 138, 0.4);
    border: 1px solid #16548a;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .ant-form {
    color: $color-cyan;
    .form-title {
      margin-bottom: 1rem;
      display: block;
      font-size: 1.2rem;
    }
    &-item {
      margin-bottom: 0;
      .amount {
        height: 3rem;
        font-size: 2rem;
        width: 100%;
        background: transparent !important;
        border: 0;
        color: $color-cyan;
        border: 0 !important;
        box-shadow: none !important;
      }
    }
  }
  .ant-form-item-explain {
    position: absolute;
    bottom: -1.5rem;
  }
  .ant-input-number-handler-up-inner,
  .ant-input-number-handler-down-inner,
  .ant-input-number-handler {
    color: #fff !important;
    opacity: 1;
  }
  .ant-input-number-handler-wrap {
    background: rgba(255, 255, 255, 0.18);
  }
  .ant-modal-close {
    display: none;
  }
  .btn-app-default {
    display: flex;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
  label {
    opacity: 0.8;
    font-weight: 500;
    font-size: 0.8rem !important;
    margin-top: 2rem;
    display: block;
  }
  .form-action {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  .amount-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.18) !important;
    padding-right: 8px;
    height: 3rem;
    .currency-wrapper {
      min-width: 4rem;
      display: flex;
      justify-content: end;
    }
    .icon {
      width: 1rem;
      margin-right: 8px;
    }
  }
}

@media only screen and (min-width: 1350px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1280px;
  }
}
@media only screen and (min-width: 1600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1400px !important;
  }
}
@media only screen and (min-width: 1900px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1650px !important;
  }
}
