html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  font-family: $default-font;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  overflow-x: hidden;
}
p {
  margin-top: 0;
  margin-bottom: 0.6rem;
}
.default-text {
  font-size: 1.6rem;
}
.d-block {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center;
}

#main-content,
.app-footer {
  @media screen and (max-width: $smallDevices) {
    display: none !important;
  }
}

@media only screen and (min-width: 1350px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1280px;
  }
}
@media only screen and (min-width: 1600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1400px !important;
  }
}
@media only screen and (min-width: 1900px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1650px !important;
  }
}
